p {
    line-height: 100%;
    font-weight: normal;
}

.row {
    margin: 0 1px 0 1px;
}

body {
    padding-top: 53px;
}

a {
    color: #348CB2;
}

a:hover {
    color: #1777DF;
}

h1, h2, h3, h4, h5 {
    color: #2f2f2f;
}

.container-nav {
    max-width: 1400px;
    display: block;
    position: relative;
}

.container {
    max-width: 1000px;
    display: block;
    position: relative;
}

.container-first {
    margin-top: 17px;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.ui-helper-hidden-accessible { display:none; }

.pre-scrollable {
    background-color: #e2f1eb;
}

.btn-comp {
    background-color: #53A27F;
    color: white;
}

.btn-comp:hover {
    background-color: #348CB2;
    color: white;
}

.navbar-nav {
    margin: 0 2px 0 2px;
}

.footer {
  background: #F5F5F5;
  border-top: 1px solid #1777DF;
  height: 60px;
  font-size: 14px;
}

.footer .copyright {
  text-align: center;
  margin-top: 22px;
}

/* Sections */

section {
    padding: 60px 0;
}

.section-heading {
    margin-top: 0;
}

.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}
.service-box @media (min-width: 992px) {
  margin: 20px auto 0;
}
.service-box p {
  margin-bottom: 0;
}

.background-grey {
    background-color: #fafafa;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

hr {
    border-color: #1777DF;
    border-width: 3px;
    max-width: 70px;
}

hr.light {
    border-color: white;
}

/* Color theme */

.green-primary {
    color: #43AF3D;
}

.blue-primary {
    color: #53A27F;
}

.blue-secondary {
    color: #61D0E4;
}

.highlight-primary {
   color: #E4619C;
}

.highligh-secondary {
   color: #BB9191;
}

span .fa-square {
    color: #696969;
}

.btn-icon {
  margin: 0 15px 0 0;
}

.fa-stack .fa-inverse {
  color: #53A27F;
}

#contact .btn {
  margin-top: 20px;
}

#contact span.fa-stack {
  margin: -5px 5px -5px -5px;
}

form {
  margin-top: 30px;
}

#get-involved h4 {
  margin-top: 30px;
}
