/* Sourced from http://work.smarchal.com/twbscolor/css/41A2745db18fe8e8e82f2f2f1 */

.navbar-default {
  background-color: #348CB2;
}
.navbar-default .navbar-brand {
  color: white;
  margin-top: 3px;
  padding-top: 10px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 3px solid #5EAA6E;
}
.navbar-default .navbar-text {
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  border-bottom: 3px solid #348CB2;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 3px solid #5EAA6E;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #348CB2;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #2f2f2f;
  background-color: #1777DF;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #1777DF;
}

/* Active link */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #348CB2;
  color: white;
  font-weight: bold;
  border-bottom: 3px solid #5EAA6E;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  border-bottom: 3px solid #5EAA6E;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #2f2f2f;
  background-color: #1777DF;
}
.navbar-default .navbar-toggle {
  border-color: #1777DF;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1777DF;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: white;
}
.navbar-default .navbar-link {
  color: white;
}
.navbar-default .navbar-link:hover {
  color: #2f2f2f;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav li > a:hover,
  .navbar-default .navbar-nav li > a:focus {
    border-left: 6px solid #53A27F;
    border-bottom: none;
  }
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    border-left: 6px solid #1777DF;
    border-bottom: none;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #2f2f2f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: white;
    border-left: 2px solid #1777DF;
    border-bottom: none;
  }
}
