/* Sourced from http://work.smarchal.com/twbscolor/css/41A2745db18fe8e8e82f2f2f1 */

.navbar-default {
  background-color: #41A274;
}
.navbar-default .navbar-brand {
  color: #e8e8e8;
  margin-top: 3px;
  padding-top: 10px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #e8e8e8;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 3px solid #d43b1e;
}
.navbar-default .navbar-text {
  color: #e8e8e8;
}
.navbar-default .navbar-nav > li > a {
  color: #e8e8e8;
  border-bottom: 3px solid #41A274;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e8e8e8;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 3px solid #d43b1e;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #41A274;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #e8e8e8;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #2f2f2f;
  background-color: #5db18f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #5db18f;
}

/* Active link */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #41A274;
  color: #e8e8e8;
  font-weight: bold;
  border-bottom: 3px solid #2D7B82;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  border-bottom: 3px solid #2D7B82;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #2f2f2f;
  background-color: #5db18f;
}
.navbar-default .navbar-toggle {
  border-color: #5db18f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #5db18f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #e8e8e8;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e8e8e8;
}
.navbar-default .navbar-link {
  color: #e8e8e8;
}
.navbar-default .navbar-link:hover {
  color: #2f2f2f;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav li > a:hover,
  .navbar-default .navbar-nav li > a:focus {
    border-left: 6px solid #d43b1e;
    border-bottom: none;
  }
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    border-left: 6px solid #5db18f;
    border-bottom: none;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e8e8e8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #2f2f2f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e8e8e8;
    border-left: 2px solid #5db18f;
    border-bottom: none;
  }
}
