{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block body %}
<div class="text-center">
<div class="container">
<div class="jumbotron">
  <h1>404</h1>
  <h2>Whoops, this is not a page.</h2>
  <br/>
</div>
</div>

  <br/>

  <a onclick="goBack()" class="btn btn-default" title="Go back">
    <span>Back</span>
  </a>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>

  <a href="/" class="btn btn-default" title="Home">
    <span>Home</span>
  </a>
</div>
{% endblock %}
