{% extends "base.html" %}
{% block content %}

<div class="container container-first">
  <div class="row">
    <h2>Adolescent Behavior Dictionary</h2>
    <p class="text-muted">
    The Adolescent Behavior Dictionary or ABD helps us better recognize and understand the many behaviors that reflect what children and teens feel. Many of us see behaviors but need help to identify them. This is the purpose of the ABD: to supply words for what you observe.
    </p>
    <p class="text-muted">
    If left unrecognized, certain groups of behaviors often signal that something violent may happen.
    </p>
    <p class="text-muted">
    Explore these behaviors, learn more about adolescent behavior, and then type them into your search string to discover the likelihood of their role in school violence. The more we observe, the more we can help. Separate each search term with commas.
    </p>
    <p class="text-muted">
    The National School Safety Database helps provide insights into how a child or teen action can be seen as warnings before something violent may occur.
    </p>
    <p><i>The ABD is currently under construction.</i></p>
  </div>
</div>

{{super()}}
{% endblock %}
