{% extends "base.html" %}
{% block content %}

<div class="container container-first">
  <div class="row">
    <h2>Adolescent Behavior Dictionary</h2>
    <h3>(under development)</h3>
    <p>
    Please use this list if you need additional search terms relating to a student’s behavior.
    </p>
<ul>
 <li> Slurred speech
 </li> <li> Poor academic performance
 </li> <li> Signs of hangover (bloodshot eyes, changes in pupils)
 </li> <li> Changes in eating habits
 </li> <li> Tremors or impaired coordination
 </li> <li> High risk behaviors
 </li> <li> Poor school attendance
 </li> <li> Appears fearful, anxious, or paranoid
 </li> <li> Sudden mood swings
 </li> <li> Aggressive behavior
 </li> <li> Unexplained hyperactivity
 </li> <li> Lack of motivation
 </li> <li> Excessive moodiness and tears
 </li> <li> Anger and irritability
 </li> <li> Excessive sensitivity to criticism
 </li> <li> Difficulty concentrating
 </li> <li> Changes in sleep patterns
 </li> <li> Thoughts of suicide
 </li> <li> Self-mutilation (cutting)
 </li> <li> Feelings of worthlessness and/or helplessness
 </li> <li> Changes in eating patterns that result in dramatic weight gain or loss
 </li> <li> Body image issues
 </li> <li> Unexplained aches and pains
 </li> <li> Social isolation, abandonment of peer group
 </li> <li> Secrecy
 </li> <li> Isolation from family members
 </li> <li> Excessive sleeping beyond your child’s normal fatigue or insomnia
 </li> <li> Sudden changes in academic performance
 </li> <li> Dramatic changes in eating habits
 </li> <li> Loss of interest in normal activities
 </li> <li> Social isolation
 </li> <li> Changes in personality (becomes more aggressive, angry, withdrawn, etc.)
 </li> <li> Make changes in their daily rituals?
 </li> <li> Retreat from school or activities?
 </li> <li> Experience isolation from friends?
 </li> <li> Show a dramatic in weight, appearance and/or grades?
 </li> <li> Wear clothing inappropriate for the weather (possibly to hide marks)?
 </li> <li> Have visible marks or bruises?
 </li> <li> Spend excessive amounts of time with the person they’re dating?
 </li> <li> Spend excessive amounts of time in contact with the person they are dating through cell phones and computers?
 </li> <li> Excessive sleeping, beyond usual teenage fatigue, which could indicate depression or substance​ abuse; difficulty in sleeping, insomnia, and other sleep disorders *
 </li> <li> Loss of self-esteem
 </li> <li> Abandonment or loss of interest in favorite pastimes
 </li> <li> Unexpected and dramatic decline in academic performance
 </li> <li> Weight loss and loss of appetite, which could indicate an eating disorder
 </li> <li> Personality shifts and changes, such as aggressiveness and excess anger that are sharply out of character and could indicate psychological, drug, or sexual problems 
 </li> <li> Changes in sleep patterns
 </li> <li> Unexpected weeping or excessive moodiness
 </li> <li> Eating habits that result in noticeable weight loss or gain
 </li> <li> Expressions of hopelessness or worthlessness
 </li> <li> Paranoia and excessive secrecy
 </li> <li> Self-mutilation, or mention of hurting himself or herself
 </li> <li> Obsessive body-image concerns
 </li> <li> Excessive isolation
 </li> <li> Abandonment of friends and social groups
 </li> <li> Avoidance of food and noticeable changes in eating habits should trigger concern.
 </li> <li> Purging (forced vomiting) after eating — be alert for both dramatic weight loss without changes in eating habits (which could, of course, indicate other health issues that require a doctor’s attention) and also for immediate trips to the bathroom or other private spot after a meal.
 </li> <li> Lying
 </li> <li> Over-reactive arguing
 </li> <li> An awkward phase
 </li> <li> Defiance
 </li> <li> Abandoning commitments
 </li> <li> Withdrawal
 </li> <li> Attitude. “Teenager” and “bad attitude”
 </li> <li> Impulsivity
 </li> <li> Academic problems
 </li> <li> Curfew violations
 </li> </ul>
  </div>
</div>

{{super()}}
{% endblock %}
