{% extends "base.html" %}
{% block content %}

<div class="container container-first">
  <div class="row">
    <h2>Adolescent Behavior Dictionary</h2>
    <p class="text-muted">
    The Adolescent Behavior Dictionary, or ABD, helps users recognize and understand behaviors that reflect what children and teens feel. Behaviors are often observed without knowing the appropriate word for that behavior. The ABD assists you by providing words for what you observe.
    </p>
    <p class="text-muted">
    You can use these words to better identify the likelihood of them leading to school violence using the <a href="/search">Lantern</a>. Remember to separate each search term with commas.
    </p>
    <p><i>The ABD is currently awaiting funding for development.</i></p>
  </div>
</div>

{{super()}}
{% endblock %}
