<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}
{% block title %} NSSD | NoSchoolViolence.org {% endblock %}

{% block head %}
{{super()}}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/animate.min.css">
<link rel="stylesheet" href="/static/navbar.css"/>
<link rel="stylesheet" href="/static/main.css"/>
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.2.min.css" />
{% endblock %}

{% block metas %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-nav center-block">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">NSSD | NoSchoolViolence.org</a>
    </div>
    <div class="navbar-collapse collapse" id="myNavbar">
      <ul class="navbar-nav nav">
	<li ><a href="/search">Search</a></li>
      </ul>
      <ul class="navbar-nav nav navbar-right">
	{% if is_authenticated == false %}
	<li><a href="/register"><i class="fa fa-user-plus" aria-hidden="true"></i> Create a free account</a></li>
	<li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
	{% else %}
	<li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
	{% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div id="footer" class="row footer">
  <p class="copyright text-muted">
  <a href="http://www.noschoolviolence.org/">NoSchoolViolence.org</a> project&nbsp;&bull;&nbsp; 2016
  </p>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/static/autocomplete.js"></script>
<script src="/static/toggle.js"></script>
<script src="/static/footer.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.2.min.js"></script>
<script src="https://use.fontawesome.com/c047d69fd1.js"></script>
<script src="/static/wow.min.js"></script>
<script>
new WOW().init();
</script>
{{ script | safe }}
{% endblock %}
