{% extends "base.html" %}
{% block content %}

<section id="what">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
	<img src="/static/lantern-img.png" alt="lantern-icon">
	<h2 class="section-heading">The Lantern</h2>
	<hr>
	<h3 class="section-heading">The National School Security Database (NSSD)</h3>
	<h3 class="section-heading">A NoSchoolViolence.org Project</h3>
	<hr>
	<p class="text-faded">
	Use the Lantern to see how youth behaviors are linked to school violence. The Lantern helps parents, teachers, students, school staff, mental health professionals, educational policy analysts, and researchers better understand the connection between behavioral patterns and youth violence. This knowledge can help develop individual student or school wide anti-violence intervention programs.
	</p>
      </div>
    </div>
  </div>
</section>

<section id="beyond" class="background-grey">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
	<h2 class="section-heading">Using The Lantern</h2>
	<hr>
	<p class="text-muted">
	Enter search terms related to observations you’ve made about a student’s behavior. Use the Adolescent Behavior Dictionary (ABD) below to identify other behaviors or search terms.
	</p>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
	<h2 class="section-heading">Get Started</h2>
	<hr class="primary">
	<p>Begin query with</p>
	<a href="/search">
	  <button type="button" class="btn btn-comp btn-lg" style="padding-top: 7px; padding-bottom: 7px; margin-bottom: 25px;">
	    <img src="/static/noun_154759.svg" height="30px" style="margin: 0 0 0 -10px;">
	    The Lantern
	  </button>
	</a>
	<p>or open the </p>
	<a href="/ABD">
	  <button type="button" class="btn btn-comp btn-lg">
	    <span class="fa-stack fa-sm">
	      <i class="fa fa-circle fa-stack-2x"></i>
	      <i class="fa fa-info fa-stack-1x fa-inverse"></i>
	    </span>
	    Adolescent Behavior Dictionary</button>
	</a>
      </div>
    </div>
  </div>
</section>

{{super()}}
{% endblock %}
