{% extends "base.html" %}
{% block content %}

<section id="what" class="background-grey">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
	<img src="/static/lantern-img.png" alt="lantern-icon">
	<h2 class="section-heading">The Lantern</h2>
	<hr>
	<h3 class="section-heading">The National School Security Database (NSSD)</h3>
	<h3 class="section-heading">A NoSchoolViolence.org Project</h3>
	<hr>
	<p class="text-faded">
	Use the Lantern to discover how certain adolescent behaviors are related to several kinds of school violence. This information can help parents, teachers, students, school staff and counsellors, mental health professionals, educational policy analysts, and researchers better understand the connection between behavioral patterns and youth violence. These insights can help create individual student or school wide intervention programs.
	</p>
      </div>
    </div>
  </div>
</section>

<section id="beyond">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
	<h2 class="section-heading">Using The Lantern</h2>
	<hr>
	<p class="text-muted">
	Please enter search terms related to observations you’ve made about a student’s behavior. Use the Adolescent Behavior Dictionary (ABD) below to find specific behaviors.
	</p>
      </div>
    </div>
  </div>
</section>

<section id="feature" class="background-grey">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
	<h2 class="section-heading">User Communities</h2>
	<hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 text-center">
	<div class="service-box">
	  <a>
	    <i class="fa fa-5x fa-graduation-cap wow bounceIn blue-primary"></i>
	  </a>
	  <p class="text-faded">Teachers and School Staff</p>
	</div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 text-center">
	<div class="service-box">
	  <a>
	    <i class="fa fa-5x fa-home wow bounceIn blue-primary" data-wow-delay=".2s"></i>
	  </a>
	  <p class="text-faded">Parents</p>
	</div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 text-center">
	<div class="service-box">
	  <a>
	    <i class="fa fa-5x fa-medkit wow bounceIn blue-primary" data-wow-delay=".3s"></i>
	  </a>
	  <p class="text-faded">Health Professionals</p>
	</div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 text-center">
	<div class="service-box">
	  <a>
	    <i class="fa fa-5x fa-search wow bounceIn blue-primary" data-wow-delay=".3s"></i>
	  </a>
	  <p class="text-faded">Health Organizations and Policy Makers</p>
	</div>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
	<h2 class="section-heading">Get started</h2>
	<hr class="primary">
	<a href="/search">
	  <button type="button" class="btn btn-comp btn-lg">Begin Query</button>
	</a>
	<br><br><br>
	<a href="/ABD">
	  <img src="/static/ABD1.jpg" alt="ABD-icon" height="120" width="150">
	</a>
      </div>
    </div>
  </div>
</section>

{{super()}}
{% endblock %}
