<!DOCTYPE html>
<html lang="en">
  <head>

    <title>NSSD | NoSchoolViolence.org</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/animate.min.css">
    <link rel="stylesheet" href="/static/navbar.css"/>
    <link rel="stylesheet" href="/static/main.css"/>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.2.min.css" />

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/animate.min.css">
    <link rel="stylesheet" href="/static/navbar.css"/>
    <link rel="stylesheet" href="/static/main.css"/>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.2.min.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-nav center-block">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/">NSSD | NoSchoolViolence.org</a>
	</div>
	<div class="navbar-collapse collapse" id="myNavbar">
	  <ul class="navbar-nav nav">
	    <li class="active"><a href="/search">Search</a></li>
	  </ul>
	  <ul class="navbar-nav nav navbar-right">
	{% if is_authenticated == false %}
	<li><a href="/register"><i class="fa fa-user-plus" aria-hidden="true"></i> Create a free account</a></li>
	<li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
	{% else %}
	<li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
	{% endif %}
	  </ul>
	</div>
      </div>
    </nav>

    <section id="what" class="background-grey">
      <div class="container">
	<div class="row">
	  <div class="col-lg-8 col-lg-offset-2 text-center">
	    <h2 class="section-heading">The National School Security Database (NSSD)</h2>
	    <h3 class="section-heading">A NoSchoolViolence.org Project</h3>
	    </p>
	  </div>
	</div>
      </div>
    </section>

    <div class="container container-first">
      <div class="row">
	<h2>Please enter search terms</h2>
	<p class="text-muted">
	Indicate multiple search terms with a &quot;;&quot;
	</p>
	<p class="text-muted">
	Example: <i>gun owner family; trouble paying attention and concentrating; disrupts classroom activities; does poorly in school.</i>
	</p>
	<p class="text-muted">
	Please refer to the behavior dictionary for other suggested behaviors.
	</p>
	<form role="form" method='POST' action='/search'>
	  <div class="form-group">
	    <input type="text" name="search-terms" class="form-control" id="cname-box" placeholder="Enter search terms here" style="max-width: 500px; height:70px;" autofocus required>
	  </div>
	  <div class="container" id="as-container"></div>
	  <button type="submit" class="btn btn-default btn-comp">Submit</button>
	</form>
	<br>

	{% if num_hits_search >= 0 %}
	<p class="text-faded text-left">
	{{ num_hits_search }} hits returned</p>
	<div class="table-responsive">
	{{ ratios|safe }}
	</div>
	</p>
	</section>
	{% endif %}

	<section id="contact">
	  <a href="#">
	    <i class="fa fa-2x fa-book blue-primary"></i>
	    Behavior Encyclopedia
	  </a>
	</section>
      </div>
    </div>

    <div id="footer" class="row footer">
      <p class="copyright text-muted">
      A <a href="http://www.noschoolviolence.org/">NoSchoolViolence.org</a> project&nbsp;&bull;&nbsp; 2016
      </p>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/autocomplete.js"></script>
    <script src="/static/toggle.js"></script>
    <script src="/static/footer.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.2.min.js"></script>
    <script src="https://use.fontawesome.com/c047d69fd1.js"></script>
    <script src="/static/wow.min.js"></script>
    <script>new WOW().init();</script>

  </body>
</html>

