{% extends "base.html" %}
{% block content %}

<section id="what" class="background-grey">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
	<h2 class="section-heading">The Lantern</h2>
	<hr>
	<h3 class="section-heading">The National School Security Database (NSSD)</h3>
	<h3 class="section-heading">A NoSchoolViolence.org Project</h3>
      </div>
    </div>
  </div>
</section>

<div class="container container-first">
  <div class="row">
    <h2>Please enter search terms</h2>
    <p class="text-muted">
    Separate multiple search terms with a &quot;;&quot;
    </p>
    <p class="text-muted">
    Example: <i>gun owner family; trouble paying attention and concentrating; disrupts classroom activities; does poorly in school.</i>
    </p>
    <p class="text-muted">
    Please refer to the <a href="/ABD">Adolescent Behavior Dictionary</a> for other suggested behaviors.
    </p>
    <form role="form" method='POST' action='/search'>
      <div class="form-group">
	<input type="text" name="search-terms" class="form-control" id="cname-box" placeholder="Enter search terms here" style="max-width: 500px; height:70px;" autofocus required>
      </div>
      <div class="container" id="as-container"></div>
      <button type="submit" class="btn btn-default btn-comp">Submit</button>
    </form>
    <br>

    {% if num_hits_search >= 0 %}
    <h2 style="margin-top: 30px;">Your results</h2>
    <p class="text-faded text-left">
    <div class="table-responsive">
      <table class="table table-hover table-bordered risk-table">
	<thead>
	  <col width="50%">
	  <col width="50%">
	  <tr style="text-align: right;">
	    <th>Types of Violence (CDC,WHO, NIH, DOJ)</th>
	    <th>Risk score</th>
	  </tr>
	</thead>
	<tbody>
	  {% for index, row in ratios.iterrows() %}
	  <tr>
	    <td>{{ index }}</td>
	    <td>
		    <div class="bg" style="width: {{ row.ratio }}; background-color: rgba({{ row.category_colors }}, .2);"></div>
	      <p>{{ row.categories }}</p>
	    </td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
    </p>
    </section>
    {% endif %}
  </div>
</div>

{{super()}}
{% endblock %}
